# Environment variables
.env

# Node (if backend is Node)
node_modules/

# Python (Flask)
__pycache__/
*.pyc
venv/
env/

# Logs
*.log

# Database
*.db
*.sqlite3

# OS / editor
.DS_Store
.vscode/

https://github.com/veersinghr033-boop/chat-app